/*Estilos de Hover.css
https://github.com/IanLunn/Hover/blob/master/README.md#hovercss
*/
html, body{
  height: 100%;
}

#botonCentrosCuadrados {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  width: 100%;
  text-align: center;
  background: #e1e1e1;
  border: solid #262626 2px;
}
#botonCentrosCuadrados:hover, #botonCentrosCuadrados:focus, #botonCentrosCuadrados:active {
  background-color: #2098D1;
  color: white;
}




#botonCongruencial {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: #e1e1e1;
  width: 100%;
  text-align: center;
  border: solid #262626 2px;
}
#botonCongruencial:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#botonCongruencial:hover, #botonCongruencial:focus, #botonCongruencial:active {
  color: white;
}
#botonCongruencial:hover:before, #botonCongruencial:focus:before, #botonCongruencial:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}




#botonCongruencialMixto {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
  background: #2098D1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  width: 100%;
  text-align: center;
  border: solid #262626 2px;
}
#botonCongruencialMixto:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e1e1e1;
  border-radius: 100%;
  -webkit-transform: scale(2);
  transform: scale(2);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#botonCongruencialMixto:hover, #botonCongruencialMixto:focus, #botonCongruencialMixto:active {
  color: white;
}
#botonCongruencialMixto:hover:before, #botonCongruencialMixto:focus:before, #botonCongruencialMixto:active:before {
  -webkit-transform: scale(0);
  transform: scale(0);
}







#botonGeneradorMultiplicativo {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: #2098D1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  width: 100%;
  text-align: center;
  border: solid #262626 2px;
}
#botonGeneradorMultiplicativo:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e1e1e1;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#botonGeneradorMultiplicativo:hover, #botonGeneradorMultiplicativo:focus, #botonGeneradorMultiplicativo:active {
  color: white;
}
#botonGeneradorMultiplicativo:hover:before, #botonGeneradorMultiplicativo:focus:before, #botonGeneradorMultiplicativo:active:before {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}
